.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  body{
     margin: 50px 100px ;
     font-size: 15px;
     font-family: 'Spartan', sans-serif; 
     background-image: url("social-proof-section-master/images/bg-pattern-top-desktop.svg"),
                       url("social-proof-section-master/images/bg-pattern-bottom-desktop.svg");
     background-position: top left, bottom right;                  
     background-repeat: no-repeat, no-repeat;
   
  }
  .accomplishment{
      display: flex;
      justify-content: space-around;
      color: hsl(300, 43%, 22%);
  }
  .intro h1{
      font-weight: 700;
      font-size: 30px;
  }
  .intro p{
      color:hsl(303, 10%, 53%);
      font-weight: 400;
  }
.eg{
    background-color:hsl(303, 10%, 53%) ;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
}
.eg::before{
    content: " ";
    background: url("social-proof-section-master/images/icon-star.svg");
    width:17px;
    height: 16px;
    position: absolute;
    background-repeat: repeat-x;
}

.customer-voices{
    display: flex;
    justify-content: space-between;
}
.person1,
.person2,
.person3{
   background-color:hsl(300, 43%, 22%) ;
   color:hsl(0, 0%, 100%) ;
   border-radius: 5px;
   width: 30%;
   padding: 15px;
   margin: 10px;

}
.customer-voices h4{
    color: hsl(0, 0%, 100%);
    margin-bottom: 0;
}
.customer-voices h5{
    color:hsl(333, 80%, 67%) ;
    margin-top: 0;
}